.project__section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    gap:9em;

}

.project__section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .project__section-header-left{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-right: 60em;
        p{
            color: var(--sea-green-text);
            font-size: 3em;
            line-height: 2em;
            font-weight: 600;
            letter-spacing: 0.1em;
        }

        h1{
            font-size: 6em;
            line-height: 1.5em;
        }

        @media screen and (max-width:900px) {
            padding: 0;
        }
    }
    @media screen and (max-width:900px) {
        flex-direction: column;
    }
}

.project__section-divider{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}

.project__section-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}